.nav {
   display: flex;
   justify-content: flex-end;
   background: #222222;
   width: 100vw;
}

.nav_item {
   padding: 12px 18px;
   text-decoration: none;
   color: #eeeeee;
   font-weight: 500;
}

.nav_item:first-child {
   justify-self: flex-start;
}

.nav_item:hover {
   background: rgba(255, 255, 255, 0.05);
}
