doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/index.css")
        title Noom
    body
        nav.nav
            a.nav_item(href="/" data-link) Home
            a.nav_item(href="/posts" data-link) Posts
            a.nav_item(href="/settings" data-link) Settings
            a.nav_item(href="/square" data-link) Square
            a.nav_item(href="/error" data-link) Not Found
        main#root
        script(src="/socket.io/socket.io.js")
        script(src="/views/index.js" type="module")
