@charset "utf-8";
@import 'reset.css';
@import 'variables.css';

/* Components */
@import 'components/Header.css';

/* Pages */
@import 'pages/Login.css';
@import 'pages/Register.css';
@import 'pages/Home.css';
@import 'pages/Square.css';
@import 'pages/Settings.css';

#root {
   width: 100%;
   max-width: 1280px;
   margin: 0 auto;
}
